Repository areyesdev/website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.css": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

feat(about): add description about me
  components/Footer.js
  components/MDXComponents.js
  data/pages/sobre-mi.mdx
Due: eslint --fix

feat(font): add source and made changes to about
  .eslintrc.js
  .lintstagedrc.json
  components/Footer.js
  components/MDXComponents.js
  data/pages/sobre-mi.mdx
  data/posts/hola-mundo.mdx
  data/posts/next-create-app.mdx
  data/posts/secundary-post.mdx
  data/posts/terminal-windows-11.mdx
  pages/blog.js
  pages/index.js
  postcss.config.js
  public/fonts/Inter-roman-latin.var.woff2
  public/fonts/Inter.var.woff2
  styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write

fix(index): deleted unused code
  pages/index.js
Due: eslint --fix

fix(index): space was removed in the mail
  pages/index.js
Due: eslint --fix

chore(eslintrc): removed eslint rule
  .eslintrc.js
Due: eslint --fix

chore(eslint): add config recommended from nextjs
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc.js
  .lintstagedrc.json
  .prettierrc
  package-lock.json
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(about): objectives were added and what I use day by day
  .gitignore
  components/MDXComponents.js
  components/Skills.js
  data/pages/sobre-mi.mdx
  package-lock.json
  public/CV.pdf
Due: eslint --fix, prettier --write

docs(readme): add readme
  README.md
Due: prettier --write

perf: good practices added
  components/Projects.js
  components/Skills.js
  data/posts/hola-mundo.mdx
  data/posts/next-create-app.mdx
  data/posts/terminal-windows-11.mdx
  package.json
  pages/_document.js
  styles/globals.css
  yarn.lock
Due: eslint --fix, prettier --write

perf: add customMeta
  components/Container.js
Due: eslint --fix

feat(_document): add google analytics
  .env.example
  lib/gtag.js
  pages/_app.js
  pages/_document.js
Due: eslint --fix

fix(about): fix redirect GitHub
  data/pages/sobre-mi.mdx
Due: none

docs: we return again
  README.md
Due: prettier --write
